{
    "tabWidth": 3,
    "semi": true,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "singleAttributePerLine": true,
    "bracketSameLine": true
 }